<div *ngIf="!deger3">
    <button (click)="onTemp()" class="button">Akitiviteleri Gör</button>
    <form #frm="ngForm" (ngSubmit)="OnClickForm(frm.value)" class="smart-green">
        <h1>ETKİNLİK OLUŞTUR</h1>
        <label>Etkinlik Adı : </label>
        <input type="text" name="activityName" placeholder="" ngModel/>
        <br><br>
        <label>Etkinlik Tipi : </label>
        <select #types (change)="onSelected(types.value)" ng-model required="required">
            <option style="display:none" value="">Seçiniz</option>
            <option value="BootCamp">BootCamp</option>
            <option value="Hackhaton">Hackhaton</option>
            <option value="In House Education">In House Education</option>
        </select>
        <br><br>
        <label>Başlangıç Tarihi : </label>
        <input type="date" name="activityStartDate" placeholder="" ngModel />
        <br><br>
        <label>Bitiş Tarihi : </label>
        <input type="date" name="activityFinishDate" placeholder="" ngModel />
        <br><br>
        <label>Etkinlik Statüsü :</label>
        <select #status (change)="onSelectedStatus(status.value)" ng-model required="required">
          <option style="display:none" value="">Seçiniz</option>
          <option value="Online">Online</option>
          <option value="In Office">In office</option>
        </select>
        <br><br>
        <label>Etkinlik Detayları : </label>
        <textarea name="details" placeholder="" rows="7" ngModel></textarea>
        <br><br>
        <button (click)="onSaveActivity()" class="button">Etkinlik Oluştur</button>

    </form>

</div>

<div *ngIf="deger3">
    <h1>Student List</h1>

    <ul style="list-style: none;">
        <li *ngFor="let student of etkinlik ">
            <br>
            <mat-card>{{student.activityName+" "}}</mat-card>

        </li>
    </ul>
</div>